<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sidebar Menu HTML and CSS | CodingNepal</title>
  <!-- Linking Google Font Link For Icons -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" />
  <link rel="stylesheet" href="styles.css" />
  <title>@ViewData["Title"] - ParkingEval</title>
</head>
<body>
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>MADA-IMMO</h2>
    </div>
    <ul class="sidebar-links">
      <h4>
        <span>admin</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="#">
          <i class='bx bxs-user-circle icon'></i>
          Gérer</a>
      </li>
      <li>
        <a href="#"><i class='bx bx-notepad icon'></i> Chiffre d'affaire</a>
      </li>
      <li>
        <a href="#"><i class='bx bx-window-open icon'></i>Gain par moi</a>
      </li>
      <h4>
        <span>Compte</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="#"><i class='bx bxs-user icon' ></i>Profile</a>
      </li>
      <li>
        <a href="#"><i class='bx bx-log-out icon'></i>Logout</a>
      </li>
      
    </ul>

  </aside>
  <div class="container">
  </div>
</body>
</html>